<div class="header__shim"></div>

{# LANDSCAPE ONSCROLL #}
<section id="header-landscape-onscroll" class="landscape">
    <div class="wrapper">
        
        {# LOGO #}
        <a class="logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

        {# NAV #}
        <nav class="nav">
            <ul>
                <li class="langswitcher-ctn">{% include 'partials/langswitcher.html.twig' %}</li>
                {% for p in pages.children.visible %}
                <li class="link"><a class="{{ (p.active or p.activeChild) ? 'active' : '' }}" href="{{ p.url }}">{{ p.menu }}</a></li>
                {% endfor %}
            </ul>
        </nav>

    </div>
</section>

{# LANDSCAPE #}
<section id="header-landscape" class="landscape">
    <div class="wrapper">
        
        {# LOGO #}
        <a class="logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

        {# NAV #}
        <nav class="nav">
        	<ul>
        		<li class="langswitcher-ctn">{% include 'partials/langswitcher.html.twig' %}</li>
           		{% for p in pages.children.visible %}
        		<li class="link"><a class="{{ (p.active or p.activeChild) ? 'active' : '' }}" href="{{ p.url }}">{{ p.menu }}</a></li>
    			{% endfor %}
    		</ul>
        </nav>

    </div>
</section>

{# PORTRAIT ONSCROLL #}
<section id="header-portrait-onscroll" class="portrait">
    <div class="wrapper">
    
        {# LOGO #}
        <a class="logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

        {# TOGGLE #}
        <button class="header-panel__on" aria-label="open menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </button>
    </div>
</section>

{# PORTRAIT #}
<section id="header-portrait" class="portrait">
    <div class="wrapper">
        
        {# LOGO #}
        <a class="logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

        {# TOGGLE #}
        <button class="header-panel__on" aria-label="open menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </button>
        
        {# PANEL #}
        <nav class="panel">
            <div class="panel__header">
                <a class="logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>
                <button class="header-panel__off" aria-label="close menu">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                </button>
            </div>
            <ul>
                {% for p in pages.children.visible %}
                <li><a class="{{ (p.active or p.activeChild) ? 'active' : '' }}" href="{{ p.url }}">{{ p.menu }}</a></li>
                {% endfor %}
                <li class="langswitcher-ctn">{% include 'partials/langswitcher.html.twig' %}</li>
            </ul>
        </nav>

    </div>
</section>


